header {
    text-align: center;
}
form {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
    border-collapse: collapse;
}
td {
    border: thin solid black;
    padding: .3em;
}
#results h2 {
    text-align: center;
}
button {
    margin: 1em;
}